######################################################################
# Start Print
######################################################################

[gcode_macro START_PRINT]
description: Arranca el proceso de impresión
gcode:
      # Define las dimensiones maximas de la impresora
      {% set X_MAX = printer.toolhead.axis_maximum.x|default(300)|float %}
      {% set Y_MAX = printer.toolhead.axis_maximum.y|default(300)|float %}
      {% set Z_MAX = printer.toolhead.axis_maximum.z|default(350)|float %}


      # Captura las temperaturas de la primera capa desde el Gcode que ha creado el Slicer
      {% set BED_TEMP = params.BED_TEMP|default(30)|float %}
      {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}

      # Precalienta la cama y la boquilla
      M109 S{EXTRUDER_TEMP} T0      # M104                  
      M190 S{BED_TEMP}              # M140

    

      
        M118 ***************************************
        M118           Empieza la Impresión
        M118 ***************************************

        M117           Empieza la Impresión

      # Hace Home a los tres ejes, con el sistema en frio, para separar el Bltouch, o el sensor de nivelación, de la cama
      #BEEP  # Hace sonar el pito
      G90   # Posicionamiento absoluto
      G28   # Inicializa las posiciones, "Home", "Bilinear"
      
     
     

      # Centra y separa la extrusora de la cama, para no calentar el BLTouch o sensor innecesariamente      
      G1 X{X_MAX/2.0} Y{Y_MAX - 20} Z{50} F6000


      # Calienta la cama y la boquilla
      #_LED_AZUL
      M118 Esperando la temperatura correcta, calentando
      M117 Esperando la temperatura correcta, calentando
      M190 S{BED_TEMP}                               
      M109 S{EXTRUDER_TEMP} T0    
      M118 Vamos que nos vamos
      M117 Temperatura de trabajo alcanzada
     
      _led_atencion

      # Retracción para no dejar plastico por el camino
      M83 # Extrusora en posición relativa
      G1 E-1 F300 # Retrae 2 mm de filamento

      # Hace Home a los tres ejes
      M118 Inicializando posiciónamiento 'HOME'
      M117 Inicializando posiciónamiento 'HOME'
     # BEEP  # Hace sonar el pito
     # G90   # Posicionamiento absoluto
     # G28   # Inicializa las posiciones, "Home", "Bilinear"
      #M118 Posiciónamiento 'HOME' Terminado
      #M117 Posiciónamiento 'HOME' Terminado
      G4 P500  # Retardo de medio segundo, durante el cual la luz estará encendida en verde tras completar el proceso de Home

      # Ejecuta el ajuste z tilt, para que el travesaño Z esté paralelo a la cama
      #M118 Ajustando simetria en motores eje Z
      #M117 Ajustando simetria en motores eje Z
      #_LED_ROJO
      #_LED_ABAJO
      #Z_TILT_ADJUST
      #M118 Simetria ajustada
      #M117 Simetria ajustada

      # Nivelación automatica de la cama, si la vas a usar has de elegir una de las dos opciones
      M118 Creando malla de nivelacion
      M117 Creando malla de nivelacion

     

       M118 despues de lo nuevo
      M117 despues de lo nuevo
      
       # BED_MESH_CALIBRATE ADAPTIVE=1 ADAPTIVE_MARGIN=3  # ESTO ES 3D WORKS

     # BED_MESH_CALIBRATE PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX} FORCE_NEW_MESH=True

    
      #BED_MESH_CALIBRATE # Crea una nueva malla a cada impresión
      # BED_MESH_PROFILE LOAD=default # Carga la malla previamente creada y guardada
     
     
     # BED_MESH_CALIBRATE PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX} FORCE_NEW_MESH=True #mirar esto si funciona asi
     
    
     # START_PRINT EXTRUDER_TEMP={first_layer_temperature[initial_extruder] + extruder_temperature_offset[initial_extruder]} #las dos cambiadas por las de abajo
      #BED_TEMP=[first_layer_bed_temperature] CHAMBER=[chamber_temperature] 


#description: Inicia la impresión con temperaturas y calibración de malla
#gcode:
   
    # Cargar la malla guardada
    BED_MESH_PROFILE LOAD=default

    # Calibrar la malla adaptativa
    #BED_MESH_CALIBRATE PRINT_MIN={printer["gcode_macro _VAR_GLOBALS"].variable_PRINT_MIN} PRINT_MAX={printer["gcode_macro _VAR_GLOBALS"].variable_PRINT_MAX} FORCE_NEW_MESH=True

    # Configurar temperaturas
    #M104 S{printer["gcode_macro _VAR_GLOBALS"].variable_temp_extruder} ; Calentar extrusor
    #M140 S{printer["gcode_macro _VAR_GLOBALS"].variable_temp_bed} ; Calentar cama
    #M190 S{printer["gcode_macro _VAR_GLOBALS"].variable_temp_bed} ; Esperar a que la cama alcance la temperatura
   # M109 S{printer["gcode_macro _VAR_GLOBALS"].variable_temp_extruder} ; Esperar a que el extrusor alcance la temperatura

    # Si se desea mantener la temperatura durante la pausa
    #{% if printer["gcode_macro _VAR_GLOBALS"].variable_temp_keep %}
    #SET_GCODE_VARIABLE MACRO=PAUSE VARIABLE=temp_extruder_pause VALUE={printer["gcode_macro _VAR_GLOBALS"].variable_temp_extruder}
    #{% endif %}

      
      #PRINT_MIN={first_layer_print_min[0]},{first_layer_print_min[1]}  #cambiadas antes las dos funcionando
      #PRINT_MAX={first_layer_print_max[0]},{first_layer_print_max[1]}
      
      #START_PRINT EXTRUDER_TEMP={first_layer_temperature[200] + extruder_temperature_offset[200]} BED_TEMP=[30] #1esto es nuevo
      #CHAMBER=[chamber_temperature] PRINT_MIN={first_layer_print_min[0]},{first_layer_print_min[1]} PRINT_MAX={first_layer_print_max[0]},{first_layer_print_max[1]} #2 esto es nuevo
     
     # BED_MESH_CALIBRATE PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX} FORCE_NEW_MESH=True
     

      M118 Malla creada
      M117 Malla creada

      #_led_atencion

      # Ir a un punto inicial antes de empezar a imprimir X=10 Y=1 Z=10 para coincidir con el inicio de las lineas de purga
      G90   # Posicionamineto absoluto
      G1 X12 Y36 Z10 F6000 #2000 #1500 #1000  G1 X10 Y1 Z10   Alex

      #_LED_EXTREMOS

      # De-retracción para acercar el plastico a la boquilla dess pues de la retracción previa 20240610
      M83 # Extrusora en posición relativa
      G1 E0.1 F300 # Extruye 3 mm de filamento
      G90   # Posicionamiento absoluto

      # Lineas de purga, Reconstruccion total de la rutina de purga # 20240624
      M118 Haciendo lineas de purga
      M117 Haciendo lineas de purga

      # Dibuja la primera linea de purga
      G92 E0  # pone el motor de la extrusora a cero
      G1 X12 Y36 Z0.28 F2000 # Va al punto de inicio de la primera linea
      G1 X{printer.toolhead.axis_maximum.x -40} Y36 Z0.28 E25 F1000  # Llega extruyendo hasta el ancho maximo de x -10 mm., a una altura de la cama de 0,28 mm.
      G92 E0   # pone el motor de la extrusora a cero
      G1 Z5 # Eleva Z 5 mm. de la cama

      # Dibuja la segunda linea de purga
      G1 X12 Y36.3 Z5 F2000  # Va al punto de inicio de la segunda linea, pero en alto
      G1 X10 Y36.3 Z0.28 F2000 # baja hasta el punto de inicio de la segunda linea
      G1 X{printer.toolhead.axis_maximum.x -40} Y36.3 Z0.28 E25 F1000  # Llega extruyendo hasta el ancho maximo de x -10 mm., a una altura de la cama de 0,28 mm.
      G92 E0   # pone el motor de la extrusora a cero

      # Se separa de la cama y retrae filamento antes de empezar a imprimir
      G1 Z5 # 20240624
      G1 E-0.5 F300 # Retrae 0,5 mm de filamento
      G92 E0  # Ordena la parada del motor de la extrusora
      G90     # Posicionamiento absoluto

      # Imprimiendo
      M118 Imprimiendo
      M117 Imprimiendo

      #_LED_PRINTING
      #SET_LED LED=tira_led WHITE=0.05 # Ilumina la máquina al 5% de luz  
      #_led_rainbow



