[heater_fan my_nozzle_fan]   ##[heater_fan fan1]  [heater_fan my_nozzle_fan]
pin: PA0   #PE6
max_power: 1.0
shutdown_speed: 0
heater_temp: 40
fan_speed: 1.0

#[fan]
#fan0_pin: PE6
#fan0_enable: VF0

[fan]
pin: PF7     #PB5      #PC14  capa ventilador 
max_power: 0.9
shutdown_speed: 0

#[fan]   ## venti capa
#pin: PA2    #PE0
#max_power: 0.9
#shutdown_speed: 0

#[heater_fan fan1] #ventilador manta
#pin: PE0
#max_power: 0.5
#shutdown_speed: 0
#fan_speed: 1.0

#heater_temp: 10

#[heater_fan fan2] 
#pin: PC12
#max_power: 0.9
#shutdown_speed: 0
#fan_speed: 1.0
#heater_temp: 10