[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_210019001851313430323835-if00 #usb-Klipper_stm32h723xx_330017000E51323532393433-if00  


[printer]
kinematics: corexy
max_velocity: 500
max_accel: 10000
max_z_velocity: 25
max_z_accel: 50
square_corner_velocity: 8.0




#[adxl345]
#cs_pin: PC4
#spi_bus: spi1

[respond]

#[virtual_sdcard]
#path: ~/gcode_files

[virtual_sdcard]     #ALEX
path: /home/pi/printer_data/gcodes  #ALEX

[pause_resume]

[display_status]

[force_move]
enable_force_move: True






